@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primevue/resources/themes/aura-dark-blue/theme.css";

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* for SearchFilters.vue */
.select-button-flex>div {
    flex-grow: 1 !important;
}

.h-screen-mobile {
    height: 100vh;
    height: 100svh;
}