@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primevue/resources/themes/aura-dark-indigo/theme.css";

html, body {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
