@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 12pt;
}

#app {
  width: 50%;
  margin: 0 auto;
}

.entry {
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  margin: 0.5em;
  align-items: center;
}

.entry .id {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20pt;
}

.entry .id::before {
  content: "QNA ";
  font-size: 10pt;
}

.entry .url {
  color: #3699f0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12pt;
  width: 50%;
}
